{% extends 'base.html.twig' %}

{% block title %}I. Kanto al. 21-6{% endblock %}

{% block body %}

    <div class="container">
        <div class="row text-center">
            <div class="modal fade" id="counterDataModal" tabindex="-1" role="dialog" aria-labelledby="counterDataModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="counterDataModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>Karštas WC: <b id="modalHotWC"></b></p>
                            <p>Šaltas WC: <b id="modalColdWC"></b></p>
                            <p>Karštas virtuvė: <b id="modalHotKitchen"></b></p>
                            <p>Šaltas virtuvė: <b id="modalColdKitchen"></b></p>
                            <p>Elektra: <b id="modalElectricity"></b></p>
                            <p>Mokesčiai: <b id="modalTax"></b></p>
                            <p>Kaupiamasis fondas: <b id="modalFund"></b></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="modalAutofillValues()" data-dismiss="modal">Įkelti</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="form-row date_form">
                        <div class="form-group col-md-2 offset-md-3" style="margin-top: 20px;">
                            {{ form_widget(form.year) }}
                        </div>
                        <div class="form-group col-md-4" style="margin-top: 20px;">
                            {{ form_widget(form.month) }}
                        </div>
                        <div>
                            <button type="button" id="btnShowCounterData" class="btn btn-secondary" data-toggle="modal" data-target="#counterDataModal">Duomenys</button>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="btnAutofill" class="btn btn-info"></button>
                    </div>
                    <hr>

                    <div>
                        <i class="fas fa-tint fa-4x" style="color: #03cafc;"></i>
                        <p class="utility">Vanduo</p>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 location">
                            <i class="fas fa-bath fa-2x"></i>
                            <p class="location-text">WC</p>

                            <div class="form-row align-items-center">
                                <div class="col-md-6">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-fire"
                                                                             style="color: red;"></i>
                                            </div>
                                        </div>
                                        {{ form_widget(form.hotWc) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-snowflake"
                                                                             style="color: #03cafc;"></i></div>
                                        </div>
                                        {{ form_widget(form.coldWc) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 location">
                            <i class="fas fa-utensils fa-2x"></i>
                            <p class="location-text">Virtuvė</p>

                            <div class="form-row align-items-center">
                                <div class="col-md-6">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-fire"
                                                                             style="color: red;"></i>
                                            </div>
                                        </div>
                                        {{ form_widget(form.hotKitchen) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-snowflake"
                                                                             style="color: #03cafc;"></i></div>
                                        </div>
                                        {{ form_widget(form.coldKitchen) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12" style="margin-top: 40px;">
                        <i class="fas fa-bolt fa-4x" style="color: #fce703;"></i>
                        <p class="utility">Elektra</p>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <div class="form-group">
                            {{ form_widget(form.electric) }}
                        </div>
                    </div>
                    <hr>

                    <div class="form-row align-items-center">
                        <div class="col-md-6">
                            <div class="input-group mb-2">
                                <div class="col-md-12" style="margin-top: 40px;">
                                    <i class="fa fa-envelope fa-4x" style="color: #333;"></i>
                                    <p class="utility">Mokesčiai</p>
                                </div>
                                <div class="col-md-4 offset-md-4">
                                    <div class="form-group">
                                        {{ form_widget(form.tax) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-2">
                                <div class="col-md-12" style="margin-top: 40px;">
                                    <i class="fa fa-minus fa-4x" style="color: #333;"></i>
                                    <p class="utility">Kaupiamasis fondas</p>
                                </div>
                                <div class="col-md-4 offset-md-4">
                                    <div class="form-group">
                                        {{ form_widget(form.fund) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
