{% extends 'base.html.twig' %}

{% block title %}I. Kanto al. 21-6{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="
						col-sm-12 col-sm-12 col-md-12 col-lg-4 col-xl-4
						offset-lg-1 offset-xl-1
					">
                <div class="hot-report-box text-center">
                    <h2 class="hot-report-box-title" style="margin-top: 50px">
                        6 butas
                    </h2>
                    <h2 class="hot-report-box-title">Karštas</h2>
                    <p style="margin-top: 50px; font-size: 26px">
                        WC: {{ taxes.formHotWc }} - {{ taxes.dbHotWc }} = {{ taxes.differenceHotWc }}
                    </p>
                    <p style="font-size: 26px">
                        Virt.: {{ taxes.formHotKitchen }} - {{ taxes.dbHotKitchen }} = {{ taxes.differenceHotKitchen }}
                    </p>
                </div>
            </div>
            <div class="
						col-sm-11 col-md-11 col-lg-5 col-xl-5
						offset-lg-1 offset-xl-1
					" style="
						border: 2px solid #333;
						margin-top: 100px;
						padding: 0;
					">
                <div class="text-center">
                    <h1 style="
								letter-spacing: 10px;
								font-size: 18px;
								margin-top: 20px;
							">
                        MOKĖJIMO PRANEŠIMAS
                    </h1>

                    <p class="report_title_box_text">
                        Už 2021m. Birželis mėn.
                    </p>
                    <p class="report_title_box_text">
                        Butas Nr. 6, plotas 49,51
                    </p>
                    <p class="report_title_box_text" style="margin-top: 20px">
                        gavėjas: 344-oji daugiabučio namo savininkų bendrija
                    </p>
                    <p class="report_title_box_text">
                        sąskaita LT77 7300 0100 0244 8502, Swedbank, AB
                    </p>
                    <p class="report_title_box_text">įm. kodas 125112428</p>
                </div>

                <div class="report_table_row" style="margin-top: 50px">
                    <span class="align_left">Šildymas ir šilumos pardavimo mokestis</span
                    >
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">"Gyvatukas"</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Nepaskirstyta šilumos energija</span
                    >
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Šiltas vanduo</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Laiptinių apšvietimas</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Banko paslaugos</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Išlaidos namo priežiūrai</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Kanalizacijos valymas</span>
                    <span class="align_right">**.**</span>
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
                    <span class="align_left">Kaupiamasis fondas</span>
                    <span class="align_right" style="font-size: 20px">{{ taxes.formFund }}</span
                    >
                </div>
                <div style="clear: both"></div>
                <div class="report_table_row">
						<span class="align_right"
                        ><b>Iš viso:| </b>
							<b style="padding: 20px; font-size: 20px"
                            >{{ taxes.formTax }}</b
                            ></span
                        >
                </div>
                <div style="clear: both"></div>
            </div>
            <div
                    class="col-sm-1 col-md-1"
                    style="border-top: 2px solid #333; margin-top: 341px"
            >
                <p class="totals">{{ taxes.taxWithoutFund }}</p>
                <p class="totals" id="taxElectricity">{{ taxes.taxTotalElectricity }}</p>
                <p class="totals" id="taxColdTotal">{{ taxes.taxTotalCold }}</p>
                <p class="totals" style="border-bottom: 1px solid #333">
                    {{ taxes.rent }}
                </p>
                <p class="totals" id="taxTotal"><b>{{ taxes.totalTax }}</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-6 offset-lg-6 offset-xl-6">

                <div class="text-center" style="font-size: 20px; margin-top: 20px;">
                    <p>Elektra: {{ taxes.formElectricity }} - {{ taxes.dbElectricity }} = {{ taxes.differenceElectricity }} * 0.127 =
                        {{ taxes.taxTotalElectricity }}</p>
                </div>

                <div style="width: 70%">
                    <div class="text-center" style="width: 50%; float: left;">
                        <p style="font-size: 20px;">Karštas</p>
                        <p style="font-size: 18px">
                            WC: {{ taxes.formHotWc }} - {{ taxes.dbHotWc }} = {{ taxes.differenceHotWc }}
                        </p>
                        <p style="font-size: 18px">
                            Virt.: {{ taxes.formHotKitchen }} - {{ taxes.dbHotKitchen }} = {{ taxes.differenceHotKitchen }}
                        </p>
                    </div>

                    <div class="text-center" style="width: 50%; float: left;">
                        <p style="font-size: 20px;">Šaltas</p>
                        <p style="font-size: 18px">
                            WC: {{ taxes.formColdWc }} - {{ taxes.dbColdWc }} = {{ taxes.differenceColdWc }}
                        </p>
                        <p style="font-size: 18px">
                            Virt.: {{ taxes.formColdKitchen }} - {{ taxes.dbColdKitchen }} = {{ taxes.differenceColdKitchen }}
                        </p>
                    </div>
                </div>

                <div style="width: 30%; float: left; height: 75px;">
                    <div style="height: 100%; border-left: 2px solid #333333; font-size: 18px">
                        <p style="padding: 20px; margin-top: 45px;">{{ taxes.totalDifferenceCold }} * {{ taxes.coldWaterRate }} = {{ taxes.taxTotalCold }}</p>
                    </div>
                </div>
            </div>

        </div>

        <form>
            <div class="row">
                <div class="col-md-6 text-center" style="margin-top: 50px">
                    {% if dbSend %}
                        <h1
                                style="
                                    font-size: 20px;
                                    border-bottom: 1px solid #333;
                                    border-top: 1px solid #333;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                "
                        >
                            Duomenų siuntimas į duomenų bazę
                        </h1>
                        <h1
                                style="
                                    font-size: 26px;
                                    color: red;
                                    border-bottom: 1px solid #333;
                                    border-top: 1px solid #333;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                "
                                id="isSent"
                        >
                            Neišsiųsta!
                        </h1>

                        <p id="db-send-year">F_YEAR: <b>{{ dbSend.year }}</b></p>
                        <p id="db-send-month">F_MONTH: <b>{{ dbSend.month }}</b></p>
                        <p id="db-send-hotWC">F_HOT_WC: <b>{{ dbSend.hotWc }}</b></p>
                        <p id="db-send-hotKitchen">F_HOT_KITCHEN: <b>{{ dbSend.hotKitchen }}</b></p>
                        <p id="db-send-coldWC">F_COLD_WC: <b>{{ dbSend.coldWc }}</b></p>
                        <p id="db-send-coldKitchen">F_COLD_KITCHEN: <b>{{ dbSend.coldKitchen }}</b></p>
                        <p id="db-send-electricity">F_ELECTRIC: <b>{{ dbSend.electricity }}</b></p>
                        <p id="db-send-tax">F_TAX: <b>{{ dbSend.tax }}</b></p>
                        <p id="db-send-fund">F_FUND: <b>{{ dbSend.fund }}</b></p>

                        <button id="send-to-db" type="button" class="btn btn-primary">
                            Siųsti
                        </button>

                    {% endif %}
                </div>
                <div class="col-md-6 text-center" style="margin-top: 50px">
                    <h1
                            style="
								font-size: 20px;
								border-bottom: 1px solid #333;
								border-top: 1px solid #333;
								padding-top: 10px;
								padding-bottom: 10px;
								text-align: center;
							"
                    >
                        Komunaliniai
                    </h1>

                    <select id="taxPartiesCuts" class="form-control">
                        <option value="even" selected>K 50% / T 50%</option>
                        <option value="K">K 100% / T 0%</option>
                        <option value="T">K 0% / T 100%</option>
                    </select>

                    <p style="margin-top: 20px; font-size: 18px;" id="taxParty1">Kintenis: <b>{{ taxes.totalTax / 2 }}€</b></p>
                    <p style="font-size: 18px;" id="taxParty2">Titas: <b>{{ taxes.totalTax / 2 }}€</b></p>

                </div>
            </div>
        </form>
    </div>

{% endblock %}